<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>496640424992-lmlsmbks1re7s6eg5vvp2h3rjvb5t5o1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.496640424992-lmlsmbks1re7s6eg5vvp2h3rjvb5t5o1</string>
	<key>API_KEY</key>
	<string>AIzaSyBpwAtE_ytHDojrRjmPR1ttQZDKsRBIE4s</string>
	<key>GCM_SENDER_ID</key>
	<string>496640424992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterJourneyDiary</string>
	<key>PROJECT_ID</key>
	<string>flutter-journey-diary</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-journey-diary.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:496640424992:ios:80bd420d2eb356ae2a5045</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-journey-diary-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>